.page{
    background-color: pink;
    padding: 3rem;
    border-radius: 35px;
    width: 500px;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.login{
    margin-top: 2rem;
    background-color: #fff;
    color: black;
    border-radius: 15px;
    padding: 2rem;
    padding-bottom: 1rem;
}

.credentials{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px 0;
}